@use "sass:color";
@use "@picocss/pico/scss/pico" with (
  $enable-semantic-container: true,
  $enable-classes: false
);
@use "./modules/masonry.scss";
@use "./modules/sidebar.scss";
@use "./modules/img-focus.scss";
@use "./modules/theme-switch.scss";
@use "./layout/home.scss";
@use "./layout/grid.scss";
@use "./layout/galleries.scss";
@use "./layout/archive.scss";
@use "./partials/classes.scss";
@use "./partials/anchor.scss";

$primary: hsl(7, 62%, 30%);
$secondary: hsl(17, 62%, 25%);
$tertiary: hsl(27, 58%, 20%);

:root {
  --spacing: 0.5rem;
  --block-spacing-vertical: calc(var(--spacing) * 2);
  --block-spacing-horizontal: var(--spacing);
  --grid-gap: 1rem;
  --swiper-navigation-color: #000000;
  --pagefind-ui-scale: 1.25;
  --pagefind-ui-primary: var(--primary-hover);
  --pagefind-ui-text: var(--primary);
  --pagefind-ui-background: transparent;
  --pagefind-ui-tag: transparent;
  --pagefind-ui-border-radius: 0px;
  --form-placeholder: var(--primary);
  --special: hsl(23, 0%, 18%);
  --special-border: hsl(23, 0%, 52%);
  --special-focus: hsl(23, 0%, 18%);
  --special-focus-border: hsl(23, 0%, 52%);
  --primary-accent: #{$primary};
  --secondary-accent: #{$secondary};
  --tertiary-accent: #{$tertiary};
}
::selection {
  background-color: rgba(20, 196, 255, 0.8);
}
::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
input:-moz-placeholder {
  color: var(--primary);
}
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #2e2e2e;
  --primary-hover: #525252;
  --primary-focus: rgba(194, 194, 194, 0.125);
}
[data-theme="dark"] {
  --primary: #c2c2c2;
  --primary-hover: #f5f5f5;
  --primary-focus: rgba(194, 194, 194, 0.125);
  --background-color: hsl(210, 5%, 7%);
  --card-background-color: hsl(210, 7%, 9%);
}

p {
  a,
  a[role="link"] {
    text-decoration: underline;
    &:hover,
    &:focus,
    &:active,
    &[active],
    &[aria-current] {
      text-decoration-style: dashed;
    }
  }
}

body {
  > header,
  > main,
  > footer {
    padding: var(--spacing) 0;
  }
  nav[role="banner"] {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--block-spacing-vertical);
    strong {
      color: var(--primary-hover);
    }
    img {
      width: 2.5rem;
      height: 2.5rem;
      &:hover {
        filter: saturate(1.25);
      }
    }
    ul:last-of-type {
      display: none;
      @media (min-width: 768px) {
        display: flex;
      }
    }
    @media (min-width: 1600px) {
      max-width: 1600px;
    }
  }
  > header {
    > small {
      display: block;
      margin-bottom: 0.5rem;
    }
    hgroup,
    p {
      margin: 0;
    }
  }
  > main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--grid-gap);
    > * {
      flex-grow: 1;
      flex-shrink: 1;
    }
    > section {
      order: 1;
      flex-basis: 80%;
    }
    > aside {
      order: 0;
      flex-basis: 20%;
    }
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    div {
      margin: var(--spacing) 0;
    }
    img {
      display: block;
      margin: var(--spacing) 0;
      &[hero] {
        border: 1px solid var(--secondary);
      }
    }
    ul,
    ol {
      li {
        list-style-position: inside;
      }
    }
  }
  > footer {
    text-align: center;
    p {
      margin: 0;
      font-size: 0.85rem;
    }
    nav[role="banner"] {
      justify-content: center;
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
  &.listing {
    .generic-item {
      display: inline;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
}

type {
  margin: calc(var(--spacing) / 2) 0;
  padding: calc(var(--spacing) / 2);
  color: var(--primary);
  text-transform: uppercase;
  background: var(--primary-focus);
}

article {
  width: 100%;
  h2,
  h3 {
    margin-bottom: 0.5rem;
  }
  &[card] {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: calc(var(--grid-gap) / 2);
    width: 100%;
    margin: calc(var(--form-element-spacing-vertical) / 4) 0;
    padding: calc(var(--form-element-spacing-vertical) / 1.25)
      calc(var(--form-element-spacing-horizontal) / 1.5);
    font-size: 1.85rem;
    font-weight: 500;
    box-shadow: none;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-style: solid;
    outline: none;
    &[link] {
      &:hover,
      &:focus,
      &[active] {
        text-decoration: underline;
      }
    }
    svg {
      fill: initial;
      filter: drop-shadow(0px 0px 4px rgb(0 0 0 / 0.8));
      width: 1em;
      height: 1em;
      line-height: 1;
      vertical-align: middle;
    }
    h2,
    h3 {
      margin: 0;
    }
  }
}
images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  gap: var(--grid-gap);
}

[special] {
  color: #f5f5f5;
  background-color: var(--special);
  border-color: var(--special-border);
  &:hover,
  &:focus,
  &[active] {
    background-color: var(--special-focus);
    border-color: var(--special-focus-border);
  }
}
[table-of-contents] {
  display: none;
  width: fit-content;
  margin: calc(var(--block-spacing-vertical) / 2) 0 0 0;
  border-bottom: 0;
  summary {
    margin: 0;
  }
  > div {
    ol {
      margin: 0;
      ol {
        margin: 0;
      }
      li {
        list-style-position: inside;
        margin: 0;
      }
    }
  }
}

icon {
  display: inline-block;
  vertical-align: middle;
  svg {
    display: block;
    fill: initial;
    filter: drop-shadow(0px 0px 4px rgb(0 0 0 / 0.8));
    width: 1em;
    height: 1em;
    line-height: 1;
    vertical-align: middle;
  }
}

audio {
  width: 100%;
}

[lightbox] {
  cursor: zoom-in;
}

[special-header] {
  padding: 0.5rem 1rem;
  background-size: contain;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAAklEQVR4AewaftIAAAAySURBVAEpANb/ATcqHp3z9PcY+/0K/QEA9QX4+fv8/P//BQMDAvoEAwIFAQAA/gkGBeKr3xH6r4GuhAAAAABJRU5ErkJggg==");
  background-image: url("/img/banners/special-header_240.png");
  @media (min-width: 240px) {
    background-image: url("/img/banners/special-header_240.webp");
    background-image: image-set(
      "/img/banners/special-header_240.webp" type("image/webp"),
      "/img/banners/special-header_240.png" type("image/jpeg")
    );
  }
  @media (min-width: 320px) {
    background-image: url("/img/banners/special-header_320.webp");
    background-image: image-set(
      "/img/banners/special-header_320.webp" type("image/webp"),
      "/img/banners/special-header_320.png" type("image/jpeg")
    );
  }
  @media (min-width: 500px) {
    background-image: url("/img/banners/special-header_500.webp");
    background-image: image-set(
      "/img/banners/special-header_500.webp" type("image/webp"),
      "/img/banners/special-header_500.png" type("image/jpeg")
    );
  }
  @media (min-width: 640px) {
    background-image: url("/img/banners/special-header_640.webp");
    background-image: image-set(
      "/img/banners/special-header_640.webp" type("image/webp"),
      "/img/banners/special-header_640.png" type("image/jpeg")
    );
  }
  @media (min-width: 800px) {
    background-image: url("/img/banners/special-header_800.webp");
    background-image: image-set(
      "/img/banners/special-header_800.webp" type("image/webp"),
      "/img/banners/special-header_800.png" type("image/jpeg")
    );
  }
  @media (min-width: 1200px) {
    background-image: url("/img/banners/special-header_1200.webp");
    background-image: image-set(
      "/img/banners/special-header_1200.webp" type("image/webp"),
      "/img/banners/special-header_1200.png" type("image/jpeg")
    );
  }
  @media (min-width: 1600px) {
    background-image: url("/img/banners/special-header_1600.webp");
    background-image: image-set(
      "/img/banners/special-header_1600.webp" type("image/webp"),
      "/img/banners/special-header_1600.png" type("image/jpeg")
    );
  }
  @media (min-width: 2000px) {
    background-image: url("/img/banners/special-header_2000.webp");
    background-image: image-set(
      "/img/banners/special-header_2000.webp" type("image/webp"),
      "/img/banners/special-header_2000.png" type("image/jpeg")
    );
  }
  @media (min-width: 2600px) {
    background-image: url("/img/banners/special-header_2600.webp");
    background-image: image-set(
      "/img/banners/special-header_2600.webp" type("image/webp"),
      "/img/banners/special-header_2600.png" type("image/jpeg")
    );
  }
  @media (min-width: 3200px) {
    background-image: url("/img/banners/special-header_3200.webp");
    background-image: image-set(
      "/img/banners/special-header_3200.webp" type("image/webp"),
      "/img/banners/special-header_3200.png" type("image/jpeg")
    );
  }
}

button,
a[role="button"],
summary[role="button"] {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: calc(var(--grid-gap) / 2);
  width: auto;
  margin: calc(var(--form-element-spacing-vertical) / 4)
    calc(var(--form-element-spacing-horizontal) / 4);
  padding: calc(var(--form-element-spacing-vertical) / 1.75)
    calc(var(--form-element-spacing-horizontal) / 1.5);
  line-height: 1;
  background-color: color.adjust($primary, $saturation: -20%);
  border-color: color.adjust($primary, $lightness: 10%);
  > svg {
    fill: initial;
    filter: drop-shadow(0px 0px 4px rgb(0 0 0 / 0.8));
    width: 1em;
    height: 1em;
    line-height: 1;
    vertical-align: middle;
  }
  &:hover,
  &:focus,
  &[active] {
    background-color: $primary;
    border-color: color.adjust($primary, $lightness: 25%);
    box-shadow:
      var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
      0 0 0 var(--outline-width) var(--primary-focus);
  }
  &[active] {
    -webkit-text-stroke-width: 0.04ex;
    text-shadow:
      -0.06ex 0 0 currentColor,
      0.06ex 0 0 currentColor;
  }
  &[tiny] {
    gap: 0.15rem;
    margin: 0;
    padding: calc(var(--form-element-spacing-vertical) / 3)
      calc(var(--form-element-spacing-horizontal) / 2.75);
    font-size: 0.75rem;
  }
  &[small] {
    gap: 0.25rem;
    padding: calc(var(--form-element-spacing-vertical) / 3)
      calc(var(--form-element-spacing-horizontal) / 2.75);
    font-size: 0.85rem;
  }
  &[big] {
    padding: calc(var(--form-element-spacing-vertical) / 1.25)
      calc(var(--form-element-spacing-horizontal) / 1.5);
    font-size: 1.85rem;
    font-weight: 500;
  }
  &[huge] {
    padding: calc(var(--form-element-spacing-vertical) / 1.25)
      calc(var(--form-element-spacing-horizontal) / 1.5);
    font-size: 2.5rem;
    font-weight: 700;
  }
  &[primary] {
    background-color: $primary;
    border-color: color.adjust($primary, $lightness: 20%);
    &:hover,
    &:focus,
    &[active] {
      background-color: color.adjust(
        $primary,
        $saturation: 20%,
        $lightness: 5%
      );
      border-color: color.adjust($primary, $saturation: 20%, $lightness: 25%);
    }
  }
  &[secondary] {
    background-color: $secondary;
    border-color: color.adjust($secondary, $lightness: 20%);
    &:hover,
    &:focus,
    &[active] {
      background-color: color.adjust(
        $secondary,
        $saturation: 20%,
        $lightness: 5%
      );
      border-color: color.adjust($secondary, $saturation: 20%, $lightness: 25%);
    }
  }
  &[tertiary] {
    background-color: $tertiary;
    border-color: color.adjust($tertiary, $lightness: 20%);
    &:hover,
    &:focus,
    &[active] {
      background-color: color.adjust(
        $tertiary,
        $saturation: 20%,
        $lightness: 5%
      );
      border-color: color.adjust($tertiary, $saturation: 20%, $lightness: 25%);
    }
  }
  &[grey] {
    background-color: hsl(23, 0%, 18%);
    border-color: hsl(23, 0%, 52%);
    &:hover,
    &:focus,
    &[active] {
      background-color: hsl(23, 0%, 18%);
      border-color: hsl(23, 0%, 52%);
    }
  }
}

.search {
  width: 100%;
  .pagefind-ui__search-input::placeholder {
    opacity: 0.6;
  }
  .pagefind-ui__message {
    padding: 0.5rem 0;
  }
  .pagefind-ui__results {
    .pagefind-ui__result {
      padding: 0.5rem 0;
      .pagefind-ui__result-inner {
        margin-top: 0;
      }
    }
  }
}
.chocolat-overlay {
  .chocolat-visible {
    opacity: 1;
  }
}
