---
layout: layouts/blank.njk
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {%- for page in collections.all %}
    <url>
      <loc>{{ page.url | htmlBaseUrl(metadata.url) }}</loc>
      <lastmod>{{ page.date | htmlDateString }}</lastmod>
    </url>
  {%- endfor %}
</urlset>
