---
title: Page not found
layout: layouts/base.njk
permalink: /404.html
---

{% block content %}
  <main class="grid post">
    <div class="twelve">
      <h1>{{ title }}</h1>
      <p>Were you looking for the <a href="/tags">Tags</a>, <a href="/archive">Archive</a>, or <a href="/search">Search</a>?</p>
    </div>
  </main>
{% endblock %}
