---
title: Categories
description: Categories relate content to similar content of the same type or theme, mostly which game the mod is for, or a source of maps for a mod.
permalink: /categories/
layout: layouts/base.njk
---

{% block content %}
  {{ description | markdown | safe }}
  <column>
    {% for item, items in collections.categories %}
      {% set itemUrl %}/category/{{ item | slugify }}/{% endset %}
      <a href="{{ itemUrl }}" role="button" secondary>{{ item }}
        <sup>{{ items | length }}</sup>
      </a>
    {% endfor %}
  </column>
{% endblock %}
