---
pagination:
  data: collections.labels
  size: 1
  alias: label
permalink: /label/{{ label | slugify }}/
layout: layouts/base.njk
bodyclass: "listing"
hideBreadcrumbs: true
eleventyComputed:
  title: "Labeled by “{{ label }}”"
---

{%- from "macros/macros.njk" import item with context -%}

{% block content %}
  <ol>
    {% for post in collections.labels[label] %}
      <li>
        {{ item({
          post: post,
          level: "strong",
          categories: true,
          categoriesType: "tiny primary",
          categoriesBase: "/category",
          tags: true,
          tagsType: "tiny secondary",
          tagsBase: "/tag",
          labels: true,
          labelsType: "tiny tertiary",
          labelsBase: "/label"
        }) }}
      </li>
    {% endfor %}
  </ol>
{% endblock %}
