---
title: Labels
description: Labels groups content together by when it was released, typically a specific version of a source for a mod.
permalink: /labels/
layout: layouts/base.njk
---

{% block content %}
  {{ description | markdown | safe }}
  <column>
    {% for item, items in collections.labels %}
      {% set itemUrl %}/label/{{ item | slugify }}/{% endset %}
      <a href="{{ itemUrl }}" role="button" secondary>{{ item }}
        <sup>{{ items | length }}</sup>
      </a>
    {% endfor %}
  </column>
{% endblock %}
