---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tag/{{ tag | slugify }}/
layout: layouts/base.njk
bodyclass: "listing"
hideBreadcrumbs: true
eleventyComputed:
  title: "Tagged “{{ tag }}”"
---

{%- from "macros/macros.njk" import item with context -%}

{% block content %}
  {% set datalist = collections[tag] %}
  <ol>
    {% for post in datalist | reverse %}
      <li>
        {{ item({
          post: post,
          level: "strong",
          categories: true,
          categoriesType: "tiny primary",
          categoriesBase: "/category",
          tags: true,
          tagsType: "tiny secondary",
          tagsBase: "/tag",
          labels: true,
          labelsType: "tiny tertiary",
          labelsBase: "/label"
        }) }}
      </li>
    {% endfor %}
  </ol>
{% endblock %}
