---
title: Tags
description: Tags group together content by similar game modes, such as Conquest, Capture The Flag (CTF), or Team Deatchmatch (TDM).
permalink: /tags/
layout: layouts/base.njk
---

{% block content %}
  {{ description | markdown | safe }}
  <column>
    {% for item in collections.all | getAllTags %}
      {% set itemUrl %}/tag/{{ item | slugify }}/{% endset %}
      <a href="{{ itemUrl }}" role="button" secondary>{{ item }}
        <sup>{{ collections[item] | length }}</sup>
      </a>
    {% endfor %}
  </column>
{% endblock %}
