main > aside {
  ol {
    padding: 0;
    padding-inline-start: 0;
    counter-reset: item;
    list-style-position: inside;
    li {
      display: block;
      margin: 0;
      padding: 0;
      &:before {
        content: counters(item, ".") " ";
        counter-increment: item;
        padding: 0.25rem;
      }
      > ol {
        margin: 0.5rem 0 0 0;
      }
      > a {
        margin: 0 0 0 0.25rem;
        padding: 0.25rem;
      }
    }
  }
  > ol > .active {
    font-weight: 700;
  }
}
