body {
  nav[role="banner"] {
    #sun {
      cursor: pointer;
      vertical-align: text-top;
    }
  }
}
#sun {
  fill: var(--primary);
  stroke: var(--primary);
  &:hover,
  &:focus,
  &[active] {
    fill: var(--primary-hover);
    stroke: var(--primary-hover);
  }
}
