grid {
  display: grid;
  grid-column-gap: var(--grid-spacing-horizontal);
  grid-row-gap: var(--grid-spacing-vertical);
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  margin: 0;
  & > * {
    min-width: 0;
  }
}

grid[flex] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--grid-gap);
  justify-content: center;
  & > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    max-width: 100%;
  }
  &[halves] {
    @media (min-width: 768px) {
      & > * {
        flex-basis: calc(50% - var(--grid-gap));
        max-width: calc(50% - var(--grid-gap));
      }
    }
  }
  &[thirds] {
    @media (min-width: 1200px) {
      & > * {
        flex-basis: calc(33% - var(--grid-gap));
        max-width: calc(33% - var(--grid-gap));
      }
    }
  }
  &[fourths] {
    @media (min-width: 1600px) {
      & > * {
        flex-basis: calc(25% - var(--grid-gap));
        max-width: calc(25% - var(--grid-gap));
      }
    }
  }
}

columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--grid-gap);
  margin: 0 auto;
  > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    max-width: 100%;
  }
  @media (min-width: 768px) {
    & > * {
      flex-basis: calc(50% - var(--grid-gap));
      max-width: calc(50% - var(--grid-gap));
    }
  }
  @media (min-width: 1200px) {
    & > * {
      flex-basis: calc(33% - var(--grid-gap));
      max-width: calc(33% - var(--grid-gap));
    }
  }
  @media (min-width: 1600px) {
    & > * {
      flex-basis: calc(25% - var(--grid-gap));
      max-width: calc(25% - var(--grid-gap));
    }
  }
}
column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
