{% for item in params.items %}
  {% if params.level %}
    {% set level = params.level %}
  {% else %}
    {% set level = 3 %}
  {% endif %}
  {% if item.name %}
    <h{{ level }}>{{ item.name }}</h{{ level }}>
  {% endif %}
  {% if item.image and(item.image | array) %}
    {% set images = item.image %}
  {% elseif item.image and item.image is string %}
    {% set images = [item.image] %}
  {% endif %}
  {% if (images | array) %}
    {% if item.id %}
      {% set id = item.id %}
    {% else %}
      {% set id = [item.name, item.publisher, item.published, section.name] %}
    {% endif %}
    {{ gallery({
      name: item.name,
      id: id | join("-") | slugify,
      images: images,
      link: item.link,
      description: item.description,
      publisher: item.publisher,
      published: item.published
    }) }}
  {% endif %}
  {% if item.items %}
    {{ catalog({
      name: item.name,
      items: item.items,
      level: level + 1
    }) }}
  {% endif %}
{% endfor %}
