{% if params.location == 'bottom' %}
  {% if page.date %}
    <small>{{ translate[language].written }}
      <time datetime="{{ params.page.date|htmlDateString }}">{{ params.page.date|readableDate }}</time>.</small>
  {% endif %}
  {% if page.updated %}
    <small>{{ translate[language].updated }}
      <time datetime="{{ params.page.updated|htmlDateString }}">{{ params.page.updated|readableDate }}</time>.</small>
  {% endif %}
{% else %}
  {% if page.updated %}
    <time datetime="{{ params.page.updated|htmlDateString }}">{{ params.page.updated|readableDate }}</time>
  {% else %}
    <time datetime="{{ params.page.date|htmlDateString }}">{{ params.page.date|readableDate }}</time>
  {% endif %}
{% endif %}
