<article>
  <{{ params.level | default("h2") }}>{{ params.name }}</{{ params.level | default("h2") }}>
  {% if params.image and(params.image | array) %}
    <images>
      {% for src in params.image %}
        <img lightbox src="/{{ src }}" alt="{{ params.name }}" />
      {% endfor %}
    </images>
  {% elseif params.image and params.image is string %}
    <img lightbox src="/{{ params.image }}" alt="{{ params.name }}" />
  {% endif %}
  {% if params.points %}
    <ul>
      {% for point in params.points %}
        <li>
          {% if point.name and point.link %}
            <a href="{{ point.link }}">{{ point.name }}</a>
          {% elseif point.name %}
            {{ point.name }}
          {% else %}
            {{ point }}
          {% endif %}
          {% if point.image and(point.image | array) %}
            <images>
              {% for src in point.image %}
                <img src="/{{ src }}" alt="{{ point.name }}" />
              {% endfor %}
            </images>
          {% elseif point.image and point.image is string %}
            <img src="/{{ point.image }}" alt="{{ point.name }}" />
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if params.description %}
    {{ params.description | markdown | safe }}
  {% endif %}
  {% if params.addendum %}
    <ul>
      {% for point in params.addendum %}
        <li>{{ point }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</article>
