<grid flex halves sections>
  {% for item in params.sections %}
    <a href="{{ item.link }}">
      <article card link special>
        {% if item.icon %}
          {% include 'icons/' ~ item.icon %}
        {% endif %}
        {{ item.name }}
      </article>
    </a>
  {% endfor %}
</grid>
