<div class="{% if params.skillset %}skillset{% else %}work{% endif %} twelve">
  {% if params.items %}
    {% for item in params.items %}
      <div class="work-item {% if params.width %}{{ params.width }}{% endif %}">
        <a class="work-item-title" href="{{ item.link }}">
          <h4>{{ item.title }}</h4>
        </a>
        {% if params.blockquote %}
          <blockquote>
            {{ item.description | markdown | safe }}
          </blockquote>
        {% else %}
          {{ item.description | markdown | safe }}
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
  {% if params.skillset %}
    {% for skill in params.skillset %}
      <div class="skillset-item">
        {% if skill.description %}
          <details>
            <summary>
              <img src="/img/devicons/{{ skill.icon }}.svg"/>
              <h4>{{ skill.name }}</h4>
            </summary>
            {{ skill.description| markdown | safe }}
          </details>
        {% else %}
          <img src="/img/devicons/{{ skill.icon }}.svg"/>
          <h4>{{ skill.name }}</h4>
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
</div>
