{# Settings #}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="referrer" content="no-referrer" />
<meta name="generator" content="{{ eleventy.generator }}" />

{# Search Engines #}
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow">
<meta name="google-site-verification" content="">
<meta name="y_key" content="">
<meta name="msvalidate.01" content="">

{# Informative #}
<title>
  {% if title %}{{ title }} - {% endif %}{{ metadata.domain }}
</title>
<meta name="author" content="{{ metadata.author.name }}" />
<meta name="description" content="{{ description or metadata.description }}" />
<meta name="keywords" content="{{ tags or metadata.tags }}" />
<meta name="date" content="{{ page.date }}" />

{# System #}
<link rel="canonical" href="{{ metadata.url }}{{ page.url }}">
<link
  rel="alternate"
  href="/feed/feed.xml"
  type="application/atom+xml"
  title="{{ metadata.domain }}">
<link
  rel="alternate"
  href="/feed/feed.json"
  type="application/json"
  title="{{ metadata.domain }}">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#11191f">
<meta name="msapplication-TileColor" content="#11191f">
<meta name="theme-color" content="#11191f">

{# Schema.org Microdata #}
<meta itemprop="name" content="{% if title %}{{ title }} - {% endif %}{{ metadata.domain }}">
<meta itemprop="description" content="{{ description or metadata.description }}">
{% if fileExists("content" + page.url + "social.jpg") %}
  <meta itemprop="image" content="{{ metadata.url }}{{ page.url }}social.jpg">
{% else %}
  <meta itemprop="image" content="{{ metadata.url }}/social.jpg">
{% endif %}

{# Dublin Core #}
<link rel ="schema.DC" href="http://purl.org/DC/elements/1.1/">
<meta name="DC.Title" content="{% if title %}{{ title }} - {% endif %}{{ metadata.domain }}" />
<meta name="DC.Creator" content="{{ metadata.author.name }}" />
<meta name="DC.Description" content="{{ description or metadata.description }}" />
<meta name="DC.Date" content="{{ page.date }}" />
<meta name="DC.Date.Created" content="{{ page.date }}" />
{% if page.updated %}
  <meta name="DC.Date.Modified" content="{{ page.updated }}" />
{% endif %}

{# OpenGraph #}
<meta property="og:url" content="{{ metadata.url }}{{ page.url }}" />
{# https://www.localeplanet.com/icu/ #}
<meta property="og:locale" content="{{ metadata.language_icu }}" />
<meta property="og:type" content="{% if title %}article{% else %}website{% endif %}" />
<meta property="og:site_name" content="{{ metadata.domain }}" />
{% if title %}
  <meta property="og:title" content="{% if title %}{{ title }} - {% endif %}{{ metadata.domain }}" />
{% endif %}
<meta property="og:description" content="{{ description or metadata.description }}" />
{% if fileExists("content" + page.url + "social.jpg") %}
  <meta property="og:image" content="{{ metadata.url }}{{ page.url }}social.jpg">
{% else %}
  <meta property="og:image" content="{{ metadata.url }}/social.jpg">
{% endif %}
<meta property="article:author" content="{{ metadata.author.name }}" />
<meta property="article:published_time" content="{{ page.date | iso8601 }}" />
{% if page.modified %}
  <meta name="article:modified_time" content="{{ page.updated | iso8601 }}" />
{% endif %}
<meta name="article:tag" content="{{ tags or metadata.tags }}" />

{# Twitter #}
<meta name="twitter:card" content="summary_large_image">

{# JSON Linked Data #}
{% if metadata.type %}
  {% set type = metadata.type %}
{% else %}
  {% set type = "WebPage" %}
{% endif %}
{% jsonld type %}
