<nav role="banner">
  <ul>
    <li>
      <a href="/" aria-label="Back home">
        <img src="/icon.webp" alt="{{ metadata.title }} Logo" />
      </a>
    </li>
    <li>
      <a href="/" aria-label="Back home" role="link">{{ metadata.title }}</a>
    </li>
    <li>
      <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="5"></circle>
        <line x1="12" y1="1" x2="12" y2="3"></line>
        <line x1="12" y1="21" x2="12" y2="23"></line>
        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
        <line x1="1" y1="12" x2="3" y2="12"></line>
        <line x1="21" y1="12" x2="23" y2="12"></line>
        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
      </svg>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/archive" role="link">Archive</a>
    </li>
    <li>
      <a href="/categories" role="link">Categories</a>
    </li>
    <li>
      <a href="/tags" role="link">Tags</a>
    </li>
    <li>
      <a href="/labels" role="link">Labels</a>
    </li>
    <li>
      <a href="/search" role="link">Search</a>
    </li>
  </ul>
</nav>
