<header>
  {% if not hideBreadcrumbs %}
    <nav aria-label="breadcrumb">
      <ul>
        {% breadcrumbs page.url %}
      </ul>
    </nav>
  {% endif %}
  <hgroup>
    <h1>{{ title }}</h1>
    {% if subtitle %}
      <h2>{{ subtitle }}</h2>
    {% endif %}
    <small>
      {% if type %}
        <type>{{ type }}</type>
      {% endif %}
      {% if date %}
        <time datetime="{{ page.date | iso8601 }}">{{ page.date | readableDate }}</time>
      {% endif %}
    </small>
    {% if origin and(origin | array) %}
      {% for src in origin %}
        <a role="button" href="{{ src }}" small>Origin {{ loop.index }}</a>
      {% endfor %}
    {% elseif origin and origin is string %}
      <a role="button" href="{{ origin }}" small>Origin</a>
    {% endif %}
    {% if categories %}
      {{ tagsList({ tags: categories, type: "primary small", base: "/category" }) }}
    {% endif %}
    {% if tags %}
      {{ tagsList({ tags: tags, type: "secondary small", base: "/tag" }) }}
    {% endif %}
    {% if labels %}
      {{ tagsList({ tags: labels, type: "tertiary small", base: "/label" }) }}
    {% endif %}
  </hgroup>
  {% if author %}
    <p>By {{ author }}</p>
  {% endif %}
  {% if not hideTableOfContents %}
    {% include 'components/table-of-contents.njk' %}
  {% endif %}
</header>
