{% set bodyclass = "archive" %}

{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    {{ content | safe }}
    {% for year, yearPosts in collections.pages | removeself(page) | hasFrontMatterProperty("date") | groupByYear %}
      <h2 data-count="{{ yearPosts | length  }}">{{ year }}</h2>
      {% for month, monthPosts in yearPosts | groupByMonth %}
        <grid flex halves>
          <column>
            <h3 data-count="{{ monthPosts | length  }}">{{ month }}</h3>
          </column>
          <column>
            {% for post in monthPosts | reverse %}
              {{ item({
                post: post,
                level: "h4",
                excerpt: true,
                categories: true,
                categoriesType: "primary small",
                categoriesBase: "/category",
                tags: true,
                tagsType: "secondary small",
                tagsBase: "/tag",
                labels: true,
                labelsType: "tertiary small",
                labelsBase: "/label"
              }) }}
            {% endfor %}
          </column>
        </grid>
      {% endfor %}
    {% endfor %}
  </section>
{% endblock %}
