{%- from "macros/macros.njk" import dateElement, tagsList, sectionNavigation, item, detail, icon, masonry, workItems, gallery, catalog with context -%}
{% set language = language or metadata.language %}

<html lang="{{ language }}" data-theme="dark">
  <head>
    {% include 'partials/meta.njk' %}
    {% block stylesheets %}
      <link rel="stylesheet" href="/css/app.min.css">
      <link rel="stylesheet" href="/css/chocolat.min.css">
    {% endblock %}
  </head>
  <body id="top" class="{{ bodyclass }}">
    {% block banner %}
      {% include 'components/banner.njk' %}
    {% endblock %}
    {% block header %}
      {% include 'components/header.njk' %}
    {% endblock %}
    <main>
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>
    {% block footer %}
      {% include 'components/footer.njk' %}
    {% endblock %}
    {% block body_end %}
      <script src="/js/quicklink-2.3.0.min.js"></script>
      <script crossorigin="anonymous" src="/js/site.js"></script>
      <script crossorigin="anonymous" src="/js/anchor.js"></script>
      <script crossorigin="anonymous" src="/js/chocolat.min.js"></script>
      <script>
        if (!window.hasOwnProperty("headingAnchors")) {
          window.headingAnchors = new AnchorJS({placement: "right"});
          headingAnchors.add("h2,h3,h4");
        }
        if (window.hasOwnProperty("headingAnchors") && document.querySelector("[table-of-contents] > div")) {
          generateTableOfContents(window.headingAnchors.elements, "[table-of-contents]");
        }
        Chocolat(document.querySelectorAll("[lightbox]"), {
          imageSource: "src",
          linkImages: false,
          allowZoom: true,
          pagination: function () {
            return ""
          },
          description: function () {
            const currentImage = this.images[this.settings.currentImageIndex];
            return currentImage.alt;
          }
        });
      </script>
      <script>
        window.addEventListener('load', () => {
          quicklink.listen();
        });
      </script>
    {% endblock %}
  </body>
</html>
