{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    <img src="{{ page.url }}banner.jpg" alt="{{ title }}"/>
    <div>
      {% if origin %}
        <a role="button" href="{{ origin }}">Origin</a>
      {% endif %}
    </div>
    {% if content %}
      <p>{{ content | safe }}</p>
    {% elseif description %}
      {{ description | markdown | safe }}
    {% endif %}
    <h2>Mods</h2>
    {{ masonry({ items: collections.pages | urlStartsWith(page.url, 1) }) }}
  </section>
{% endblock %}
