{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    {{ description | markdown | safe }}
    {% if fileExists("content/" + page.url + "map.jpg") %}
      <img
      src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
      style="background: url(./map.jpg);"
      width="512"
      height="512"
      alt="{{ title }} Map"
      class="focus-img" />
    {% endif %}
    {% if fileExists("content/" + page.url + "banner.jpg") %}
      <img lightbox src="./banner.jpg" alt="{{ title }} Banner">
    {% endif %}
    {% if fileExists("content/" + page.url + "load.jpg") %}
      <img lightbox src="./load.jpg" alt="{{ title }} Loading image">
    {% endif %}
  </section>
{% endblock %}

{% block body_end %}
  {{ super() }}
  <script type="text/javascript" src="/js/focus.js"></script>
  <script defer>
    Focus.init({elementID: "", zoomFactor: "225%"});
  </script>
{% endblock %}
