{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    {% if banner %}
      <img src="{{ page.url }}banner.jpg" alt="{{ title }}" hero />
    {% endif %}
    <div>
      {% for item in collections.pages | urlStartsWith(page.url, 1) %}
        <a role="button" href="{{ item.url }}" tertiary>{{ item.data.title }}</a>
      {% endfor %}
    </div>
    {% if content %}
      <p>{{ content | safe }}</p>
    {% elseif description %}
      {{ description | markdown | safe }}
    {% endif %}
    {{ masonry({ items: collections.pages | urlStartsWith(page.url) | FrontMatterFilter("type", "map"), filters: true }) }}
  </section>
{% endblock %}
