{% set bodyclass = "search" %}

{% extends 'layouts/base.njk' %}

{% block stylesheets %}
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
  {{ super() }}
{% endblock %}

{% block content %}
  <column>
    <div id="search" class="search"></div>
  </column>
  <script src="/pagefind/pagefind-ui.js"></script>
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', (event) => {
      const PageFind = new PagefindUI({
        element: "#search",
        showImages: false,
        translations: {
          placeholder: "Type to search",
          zero_results: 'Couldn\'t find "[SEARCH_TERM]"'
        }
      });
      const urlParams = new URLSearchParams(window.location.search);
      const query = urlParams.get('query');
      if (query) {
        PageFind.triggerSearch(query);
      }
    });
  </script>
{% endblock %}
