{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    {% if banner %}
      <img src="{{ page.url }}banner.jpg" alt="{{ title }}" hero />
    {% endif %}
    {% if content %}
      <p>{{ content | safe }}</p>
    {% elseif description %}
      {{ description | markdown | safe }}
    {% endif %}
    <h2>Maps</h2>
    {{ masonry({ items: collections.pages | urlStartsWith(page.url) | FrontMatterFilter("type", "map"), filters: true }) }}
  </section>
{% endblock %}
